body {
  font-family: sans-serif;
  padding: 5%;
}

.form {
  text-align: center;
  border: 1px solid black;
  padding: 1em;
  margin: auto;
  height: 80%;
  width: 50%;
}

ul li {
  list-style-type: none;
  text-align: left;
}

.form li input {
  text-align: center;
  margin-right: 20px;
}

#toast {
  display: none;
  height: 30px;
  width: 50px;
  background-color: green;
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
